body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;

    --highlight-main: #95b83c;
    --highlight-secondary: #7d5a42;
    --bg-light: #f2f0ec;
    --alert-danger: #ef5045;
}

a {
    text-decoration: none;
    font-weight: 500;
}

input[type="submit"],
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    background-color: var(--highlight-main);
    border-radius: 8px;
    padding: 0.5em 1em;
    cursor: pointer;
    width: fit-content;
    color: #fff;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

input[type="submit"]:hover,
.btn:hover {
    background-color: var(--highlight-secondary);
}

.container,
.aside-wrap,
#viewport {
    display: flex;
    height: 100%;
}

#viewport {
    overflow: auto;
}

main {
    width: 100%;
    position: relative;
}

aside {
    background-color: var(--bg-light);
    padding: 1em;
    font-size: 1.2em;
}

aside a {
    display: flex;
    align-items: center;
}

aside .menu-item-wrap {
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

aside.toggled a.menu-item-wrap.item-has-text:hover {
    background: lightgray;
    border-radius: 8px;
}

aside .menu-item-wrap .menu-icon {
    position: relative;
    fill: var(--highlight-main);
    outline: var(--highlight-main);
    padding: 0.4em;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

aside .menu-item-wrap .menu-icon,
aside .menu-item-wrap .menu-text {
    transition: all 0.25s ease-in-out;
}

aside .menu-item-wrap:hover .menu-icon {
    fill: var(--highlight-secondary);
    outline: var(--highlight-secondary);
    background: lightgray;
}

aside.toggled .menu-item-wrap.item-has-text:hover .menu-icon {
    background: none;
}

aside .menu-item-wrap .menu-text {
    color: var(--highlight-main);
    max-width: 0;
    transition: all 0.25s ease-in-out;
    overflow: hidden;
    white-space: nowrap;
    padding: 0;
}

aside.toggled .menu-item-wrap .menu-text {
    display: block;
    padding: 0.2em 0.8em;
    max-width: 100%;
}

aside .menu-item-wrap:hover .menu-text {
    color: var(--highlight-secondary);
}

.aside-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: auto;
    gap: 3em;
}

.main-menu,
.menu-bottom {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1.5em;
}

.menu-bottom {
    margin-top: auto;
}

.profile {
    z-index: 100;
    position: absolute;
    top: 1em;
    right: 2em;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--bg-light);
    border: 4px solid var(--highlight-secondary);
}

.profile.logged {
    border-color: var(--highlight-main);
    background-color: var(--highlight-main);
}

.profile .profile-button {
    line-height: 0;
    cursor: pointer;
}

.profile .profile-icon {
    width: 64px;
    height: 64px;
}

.menu-header {
    display: flex;
    justify-content: space-between;
}

.menu-header .logo {
    display: none;
    padding: 0 0.4em;
}

.menu-header .logo svg {
    width: 3em;
}

aside.toggled .menu-header .logo {
    display: block;
}

/* Logo 🗿 */
.logo svg .cls-1 {
    fill: #fabe17;
}

.logo svg .cls-2 {
    fill: #97ba3d;
}

/* View Loader */
.view-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Tooltip 🔥 */
aside:not(.toggled) .menu-item-wrap .menu-icon::before {
    z-index: 10;
    content: attr(data-tip);
    font-size: 14px;
    position: absolute;
    background: rgba(10, 20, 30, 0.85);
    color: #fff;
    line-height: 1.2em;
    padding: 0.5em;
    font-style: normal;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    min-width: 120px;
    text-align: center;
    opacity: 0;
    display: none;
    transition: all 0.3s ease-in-out;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-family: sans-serif;
    letter-spacing: 0;
    font-weight: 600;
    right: 0;
    top: 50%;
    transform: translate(calc(100% + 8px), -50%);
    box-sizing: border-box;
    border-radius: 3px;
}

aside:not(.toggled) .menu-item-wrap .menu-icon::after {
    z-index: 10;
    width: 0;
    height: 0;
    border-style: solid;
    content: "";
    position: absolute;
    opacity: 0;
    display: none;
    transition: all 0.3s ease-in-out;
    border-width: 8px 8px 8px 0;
    border-color: transparent rgba(10, 20, 30, 0.85) transparent transparent;
    right: -8px;
    top: 50%;
    transform: translate(0, -50%);
}

aside:not(.toggled) .menu-item-wrap:hover .menu-icon::before,
aside:not(.toggled) .menu-item-wrap:hover .menu-icon::after {
    display: block;
    opacity: 1;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-bottom: 2em;
}

.pagination .page {
    display: grid;
    place-items: center;
    padding: 1em;
    background: var(--highlight-main);
    color: #fff;
    border-radius: 8px;
    line-height: 1;
    cursor: pointer;
}

.pagination .page.active {
    background: var(--highlight-secondary);
}

#alerts {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 0;
    right: 8em;
    z-index: 100;
}

.alert {
    display: flex;
    justify-content: space-between;
    width: 20em;
    margin: 1em auto;
    padding: 1.5em;
    border-radius: 8px;
    box-shadow: 0 0 15px 5px #ccc;
    background-color: var(--bg-light);
    color: #fff;
    align-items: center;
    gap: 1em;
}

.alert .close {
    display: grid;
    place-items: center;
    opacity: 0.5;
    font-size: 2em;
    cursor: pointer;
}

.alert h3,
.alert p {
    margin: 0;
}

.alert h3 {
    margin-bottom: 0.5em;
}

.alert.success {
    background-color: green;
}

.alert.error {
    background: var(--alert-danger);
}

.login-form {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.login-form .google {
    display: flex;
    gap: 1em;
    padding: 1em 2em;
    color: darkgray;
    border-radius: 4px;
    box-shadow: 0px 2px 6px 0px #0005;
}

.hidden {
    display: none;
}
