<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/img/favicon/apple-icon-57x57.png}">
    <link rel="apple-touch-icon" sizes="60x60" th:href="@{/img/favicon/apple-icon-60x60.png}">
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/img/favicon/apple-icon-72x72.png}">
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/favicon/apple-icon-76x76.png}">
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/img/favicon/apple-icon-114x114.png}">
    <link rel="apple-touch-icon" sizes="120x120" th:href="@{/img/favicon/apple-icon-120x120.png}">
    <link rel="apple-touch-icon" sizes="144x144" th:href="@{/img/favicon/apple-icon-144x144.png}">
    <link rel="apple-touch-icon" sizes="152x152" th:href="@{/img/favicon/apple-icon-152x152.png}">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/img/favicon/apple-icon-180x180.png}">
    <link rel="icon" type="image/png" sizes="192x192" th:href="@{/img/favicon/android-icon-192x192.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/img/favicon/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="96x96" th:href="@{/img/favicon/favicon-96x96.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/favicon/favicon-16x16.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/favicon/favicon-16x16.png}">
    <link rel="manifest" th:href="@{/img/favicon/manifest.json}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" th:content="@{/img/favicon/ms-icon-144x144.png}">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:inline="javascript">
        /*<![CDATA[*/
        const API_URL = /*[[${apiUrl}]]*/ 'https://api.ecrop.ddns.net/';
        /*]]>*/
    </script>
    <script th:src="@{/js/auth.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">eCrop</title>


</head>

<body>
    <div class="container">

        <div class="profile">
            <div data-view="login" class="profile-button">
                <img class="profile-icon" src="/img/user-profile-icon.svg" th:src="@{/img/user-profile-icon.svg}"
                    alt="Profile image" />
            </div>
        </div>
        <aside>
            <div class="aside-wrap">
                <div class="menu-header">
                    <div class="logo">
                        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 254.75 158.4">
                            <g>
                                <g>
                                    <path class="cls-1"
                                        d="M95.24,44.93c4.28,34.81.44,36.4-40.91,54.22C49,65.14,55.23,62.53,95.24,44.93Z" />
                                    <path class="cls-1"
                                        d="M.68,44.49C42,63.16,46.66,64.65,42.48,99,6.34,89.27-2.28,78.23.68,44.49Z" />
                                    <path class="cls-1"
                                        d="M.94,88.07c40.69,16.54,46.48,24.28,41.58,54.68C6.47,133.54-3.36,120.81.94,88.07Z" />
                                    <path class="cls-1"
                                        d="M48.55,0c22.18,27.6,22.09,35.29-.12,61.41C26,37.21,25.87,24.38,48.55,0Z" />
                                </g>
                                <g>
                                    <path class="cls-2"
                                        d="M62.31,140.58a13.94,13.94,0,0,1-6-6.12,21.16,21.16,0,0,1-2.07-9.76v-4.52a23.57,23.57,0,0,1,2-10.16A14.24,14.24,0,0,1,62,103.6a17.8,17.8,0,0,1,9.12-2.2,14.52,14.52,0,0,1,8.58,2.51,15.65,15.65,0,0,1,5.43,7.27A31.29,31.29,0,0,1,87,122.58v2.62H60v-6.33H79.5A13.43,13.43,0,0,0,77,111.24a7.1,7.1,0,0,0-5.85-2.73,8.54,8.54,0,0,0-6.94,2.94c-1.64,2-2.45,4.73-2.45,8.31v5.1q0,5,2.62,7.65c1.76,1.78,4.24,2.66,7.46,2.66a12.56,12.56,0,0,0,4.76-1,13.87,13.87,0,0,0,4.21-2.71L86,136.68a22,22,0,0,1-6.69,4.43,19.09,19.09,0,0,1-7.46,1.56A19.93,19.93,0,0,1,62.31,140.58Z" />
                                    <path class="cls-2"
                                        d="M106.73,140.08a17.52,17.52,0,0,1-6.86-7.34,23.87,23.87,0,0,1-2.44-11V106.31a23.89,23.89,0,0,1,2.44-11,17.75,17.75,0,0,1,6.86-7.36A19.81,19.81,0,0,1,117,85.33a19.22,19.22,0,0,1,8.88,2.06,18.74,18.74,0,0,1,6.79,5.86,22.12,22.12,0,0,1,3.69,8.77h-8.08a12.67,12.67,0,0,0-2.45-4.7,12.1,12.1,0,0,0-4-3.18,11.33,11.33,0,0,0-10.82.54,11,11,0,0,0-4,4.65,16.11,16.11,0,0,0-1.43,7v15.42a16.1,16.1,0,0,0,1.43,7,10.87,10.87,0,0,0,4,4.66,11,11,0,0,0,6,1.64,11.39,11.39,0,0,0,8.83-4.13,12.38,12.38,0,0,0,2.45-4.87h8.08a21.87,21.87,0,0,1-3.71,8.77,18.91,18.91,0,0,1-6.8,5.85,19.22,19.22,0,0,1-8.85,2.07A19.9,19.9,0,0,1,106.73,140.08Z" />
                                    <path class="cls-2"
                                        d="M146.78,102h7.88v40.11h-7.88Zm19.44,7.57a9.69,9.69,0,0,0-3.67-.65,7.9,7.9,0,0,0-5.82,2.06,7.77,7.77,0,0,0-2.07,5.74l-.81-7.73a14.88,14.88,0,0,1,4.79-5.58,11.33,11.33,0,0,1,6.5-2,14.92,14.92,0,0,1,5,.79,11.21,11.21,0,0,1,3.89,2.34l-5.14,7A6.72,6.72,0,0,0,166.22,109.55Z" />
                                    <path class="cls-2"
                                        d="M186.24,140.62a13.43,13.43,0,0,1-5.67-6,21,21,0,0,1-1.95-9.45v-6.53a20.6,20.6,0,0,1,1.95-9.33,13.4,13.4,0,0,1,5.67-5.91,20.63,20.63,0,0,1,17.85,0,13.43,13.43,0,0,1,5.66,5.91,20.6,20.6,0,0,1,1.95,9.33v6.65a20.69,20.69,0,0,1-1.95,9.37,13.53,13.53,0,0,1-5.66,5.93,20.45,20.45,0,0,1-17.85,0Zm15.32-8c1.5-1.73,2.26-4.15,2.26-7.27v-6.65c0-3.11-.76-5.52-2.26-7.22a9.29,9.29,0,0,0-12.79,0q-2.27,2.55-2.26,7.22v6.65q0,4.68,2.26,7.27a9.22,9.22,0,0,0,12.79,0Z" />
                                    <path class="cls-2"
                                        d="M222.91,102h7.88V158.4h-7.88Zm11.44,38.89a10.42,10.42,0,0,1-4.1-5.08l.54-8.38a9.57,9.57,0,0,0,.93,4.4,6.51,6.51,0,0,0,2.68,2.79,8.83,8.83,0,0,0,4.27,1,7.7,7.7,0,0,0,6.05-2.38,9.63,9.63,0,0,0,2.15-6.7v-8.69a10,10,0,0,0-2.15-6.84,7.61,7.61,0,0,0-6.05-2.44,9.07,9.07,0,0,0-4.27.93,6.23,6.23,0,0,0-2.68,2.72,9.29,9.29,0,0,0-.93,4.31l-.81-7.73a14,14,0,0,1,4.75-5.43,11.77,11.77,0,0,1,6.53-1.91,13.45,13.45,0,0,1,7.29,1.91,12.07,12.07,0,0,1,4.62,5.59,22.37,22.37,0,0,1,1.58,8.85v8.73a21.33,21.33,0,0,1-1.62,8.73,12.1,12.1,0,0,1-4.76,5.55,14.11,14.11,0,0,1-7.49,1.91A11.74,11.74,0,0,1,234.35,140.87Z" />
                                </g>
                            </g>
                        </svg>
                    </div>
                    <a class="menu-item-wrap menu-toggle" href="#">
                        <div class="menu-icon" data-tip="Toggle menu"><svg xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24"
                                viewBox="0 0 24 24">
                                <path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
                            </svg></div>
                    </a>
                </div>
                <ul class="main-menu">
                    <li class="menu-item"><a class="menu-item-wrap item-has-text" data-view="map" href="/map"
                            th:href="@{/map}">
                            <div class="menu-icon" data-tip="Map"><svg xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24"
                                    viewBox="0 0 24 24">
                                    <path
                                        d="M15,19L9,16.89V5L15,7.11M20.5,3C20.44,3 20.39,3 20.34,3L15,5.1L9,3L3.36,4.9C3.15,4.97 3,5.15 3,5.38V20.5A0.5,0.5 0 0,0 3.5,21C3.55,21 3.61,21 3.66,20.97L9,18.9L15,21L20.64,19.1C20.85,19 21,18.85 21,18.62V3.5A0.5,0.5 0 0,0 20.5,3Z" />
                                </svg></div><span class="menu-text">Map</span>
                        </a></li>
                    <li class="menu-item"><a class="menu-item-wrap item-has-text" data-view="land-zone"
                            href="/land-zone" th:href="@{/land-zone}">
                            <div class="menu-icon" data-tip="Land zone"><svg xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24"
                                    viewBox="0 0 24 24">
                                    <path
                                        d="M2,22V20C2,20 7,18 12,18C17,18 22,20 22,20V22H2M11.3,9.1C10.1,5.2 4,6.1 4,6.1C4,6.1 4.2,13.9 9.9,12.7C9.5,9.8 8,9 8,9C10.8,9 11,12.4 11,12.4V17C11.3,17 11.7,17 12,17C12.3,17 12.7,17 13,17V12.8C13,12.8 13,8.9 16,7.9C16,7.9 14,10.9 14,12.9C21,13.6 21,4 21,4C21,4 12.1,3 11.3,9.1Z" />
                                </svg></div><span class="menu-text">Land zone</span>
                        </a></li>
                    <li class="menu-item"><a class="menu-item-wrap item-has-text" data-view="subscriptions"
                            href="/subscription" th:href="@{/subscription}">
                            <div class="menu-icon" data-tip="Subscriptions"><svg xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24"
                                    viewBox="0 0 24 24">
                                    <path
                                        d="M7,15H9C9,16.08 10.37,17 12,17C13.63,17 15,16.08 15,15C15,13.9 13.96,13.5 11.76,12.97C9.64,12.44 7,11.78 7,9C7,7.21 8.47,5.69 10.5,5.18V3H13.5V5.18C15.53,5.69 17,7.21 17,9H15C15,7.92 13.63,7 12,7C10.37,7 9,7.92 9,9C9,10.1 10.04,10.5 12.24,11.03C14.36,11.56 17,12.22 17,15C17,16.79 15.53,18.31 13.5,18.82V21H10.5V18.82C8.47,18.31 7,16.79 7,15Z" />
                                </svg></div><span class="menu-text">Subscriptions</span>
                        </a>
                    </li>
                </ul>
                <div class="menu-bottom">
                    <a class="menu-item-wrap logout item-has-text" href="/logout" th:href="@{/logout}">
                        <div class="menu-icon" data-tip="Log out"><svg xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24"
                                viewBox="0 0 24 24">
                                <path
                                    d="M19,3H5C3.89,3 3,3.89 3,5V9H5V5H19V19H5V15H3V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3M10.08,15.58L11.5,17L16.5,12L11.5,7L10.08,8.41L12.67,11H3V13H12.67L10.08,15.58Z" />
                            </svg></div><span class="menu-text">Log out</span>
                    </a>
                </div>
            </div>
        </aside>
        <main>
            <div id="alerts">
                <div id="alert-template" class="alert hidden">
                    <div>
                        <h3>Alert title</h3>
                        <p>Alert message</p>
                    </div>
                    <a class="close">&times;</a>
                </div>
            </div>
            <div id="viewport" layout:fragment="content">
                <p>Changing contents</p>
            </div>
            <div class="view-loader hidden">
            </div>
        </main>
    </div>
</body>